# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Entorno virtual
.venv/
env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Archivos de configuración locales
*.env
*.local

# Salidas de notebook
*.out
*.log

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de datos si los usas en local
data/
*.csv

# VSCode
.vscode/
